@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
    --todo-card-width: 640px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: grid;
    grid-template-rows: 75px 1fr;
    width: 100%;
    height: 100vh;
    font-family: "Geologica", sans-serif;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}
img {
    width: 100%;
    height: auto;
}

/* Header Styling */

#header {
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 30px 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgb(132, 0, 255);
    backdrop-filter: blur(5px);
}

.logo-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    user-select: none;
    margin: 0 auto;
}

.sidebar-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4px;
    height: 35px;
    position: relative;
    background: none;
}

.sidebar-btn > div {
    width: 30px;
    height: 1px;
    background-color: white;
}

.logo-text {
    color: rgb(254, 253, 255);
    font-size: 24px;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
}

#logo {
    width: 25px;
    height: 25px;
}

/* Sidebar Styling */

.sidebar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px 40px 0 40px;
    padding-bottom: 0;
    gap: 30px;
    width: 380px;
    background: linear-gradient(rgba(38, 8, 85, 0.3), rgba(0, 0, 0, 0.8));
    backdrop-filter: blur(15px);
    height: calc(100vh - 75px);
    transition: 0.5s ease-in-out;
    color: white;
}
.sidebar.closed {
    margin-left: -380px;
}

.sidebar-r1,
.sidebar-r2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 15px;
}

.sidebar-r2 {
    overflow-y: auto;
    height: 100%;
}

.projects-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 40px;
}

.title {
    font-size: 1.7rem;
    padding: 10px 20px;
    font-weight: 900;
}

#add-project-btn {
    padding: 10px 20px;
    border-radius: 25px;
    color: black;
    font-size: 1.2rem;
    background-color: white;
    transition: 0.4s ease;
}

#add-project-btn:hover {
    box-shadow: 0 0 20px -5px rgba(255, 255, 255, 0.5);
}

.sidebar-link {
    cursor: pointer;
    user-select: none;
    font-size: 1.2rem;
    border-radius: 25px;
    font-weight: 200;
    padding: 10px 20px;
}

.sidebar-link:not(.project-link).active {
    background-color: rgba(199, 233, 255, 0.3);
}

.sidebar-link:not(.active):not(.project-link):hover {
    background-color: rgba(199, 233, 255, 0.15);
}

.project-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    transition: 0.4s ease;
}

.project-link .icon {
    opacity: 0;
}
.project-link:hover .icon {
    opacity: 1;
}

.project-color {
    margin-right: 20px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color);
    order: -1;
}

.project-link:hover {
    background-color: var(--hover-color);
}

.project-link.active {
    background-color: var(--hover-color);
}

/* Styling the form for adding new Project */

.add-project-form {
    padding: 5px 10px;
    margin: 12px 0;
    border-radius: 30px;
    background-color: white;
}
.add-project-r1,
.add-project-r2 {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.project-name-inp {
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    width: 140px;
    border: 1px solid rgb(0, 0, 0);
}

.project-color-inp {
    cursor: pointer;
    padding: 0;
    height: 30px;
    width: 30px;
    outline: none;
    border: none;
    background: none;
    clip-path: circle(35%);
}

.add-project-submit-btn,
.add-project-cancel-btn {
    padding: 8px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
}
.add-project-submit-btn {
    background-color: rgb(49, 163, 97);
}
.add-project-cancel-btn {
    background-color: rgb(190, 48, 48);
}

/* Styling the Home cards */

.home-card {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 35px;
    border: 1px solid;
    color: white;
    font-size: 2rem;
    text-align: center;
    backdrop-filter: blur(5px) brightness(0.5);
    transition: 0.2s ease;
    width: 250px;
    height: 250px;
    padding: 50px;
    animation: fade-in 0.5s ease backwards;
}

.home-card-title {
    font-family: "Open Sans";
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.home-card-value {
    font-weight: 900;
    font-size: 2.5rem;
}
.home-card:hover {
    background-color: var(--color);
}

/* Todo Card Styling */

.todo-card {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    align-items: center;
    align-content: center;
    padding: 15px 40px;
    border-radius: 45px;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6), rgba(60, 255, 0, 0.2), rgba(0, 0, 0, 0.5));
    background-size: 100% 300%;
    background-position: top;
    transition: 0.5s ease;
    backdrop-filter: blur(5px);
    animation-name: slide-in;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-fill-mode: backwards;
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.5s ease-in, overflow 0.5s ease-in;
    transform-origin: center;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: scaleX(0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes slide-out {
    to {
        opacity: 0;
        transform: scaleX(0);
    }
    from {
        opacity: 1;
        transform: none;
    }
}

.todo-card.slide-out,
.edit-todo-form.slide-out,
.add-todo-form.slide-out {
    animation-name: slide-out;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 0 !important;
}

.todo-title {
    font-size: 1.1rem;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.todo-card.expanded .todo-title {
    white-space: normal;
}

.todo-desc,
.todo-date {
    font-size: 0.8rem;
    font-weight: 200;
}

.todo-desc {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.todo-card.expanded .todo-desc {
    opacity: 1;
    max-height: 100%; /* Set an appropriate value for the maximum height */
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

.todo-check-btn {
    position: relative;
    cursor: pointer;
    padding: 10px;
    width: 28px;
    height: 28px;
    background: none;
    border: 2px solid white;
    border-radius: 50%;
    transition: 0.5s ease;
}

.todo-check-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    border-radius: 2px;
    height: 5px;
    border-left: 3px solid rgb(0, 255, 0);
    border-bottom: 3px solid rgb(0, 255, 0);
    transform: translate(-50%, -50%) rotate(-90deg) scale(0);
    transition: 0.5s ease;
}

.todo-card.done {
    text-decoration: line-through;
    text-decoration-color: rgb(0, 255, 0);
    background-position: bottom;
}

.todo-card.done .todo-check-btn {
    border-color: rgb(0, 255, 0);
}

.todo-card.done .todo-check-btn::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.todo-card.expanded {
    max-height: 100%;
}
.todo-card.expanded .todo-expand-btn {
    transform: rotate(-90deg);
}

.todo-expand-btn {
    width: 14px;
    height: 14px;
    background: none;
    border-left: 2.5px solid white;
    border-bottom: 2.5px solid white;
    border-radius: 3px;
    rotate: 45deg;
    transition: 0.4s ease;
    padding: 5px;
}

.todo-col-2 {
    max-width: 300px;
}

.todo-col-4 {
    display: flex;
    align-items: center;
    gap: 14px;
    transition: 0.4s ease;
}

/* Page Template Styling */
.main {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}

.content::-webkit-scrollbar,
.projects-list::-webkit-scrollbar {
    /* background-color: red; */
    width: 3px;
    border-radius: 100px;
}

.content::-webkit-scrollbar-track,
.projects-list::-webkit-scrollbar-track {
    border-radius: 100px;
}

/* Handle */
.content::-webkit-scrollbar-thumb,
.projects-list::-webkit-scrollbar-thumb {
    background: rgb(238, 238, 238);
    border-radius: 100px;
}

/* Handle on hover */
.content::-webkit-scrollbar-thumb:hover,
.projects-list::-webkit-scrollbar-thumb:hover {
    background: rgb(123, 7, 255);
}

.page-title {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
    color: white;
    animation: fade-in 0.8s ease;
}

@keyframes fade-in {
    from {
        transform: scaleX(0);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.page-sub-title {
    font-size: 20px;
    color: rgb(233, 233, 233);
    margin-bottom: 30px;
    font-weight: 400;
    animation: fade-in 0.8s ease;
}

#dashboard {
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: fit-content;
    margin: 60px 0;
}

.page {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-cards-container,
.todo-cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.todo-cards-container {
    padding: 40px;
    gap: 40px;
    flex-direction: column;
}

.icon {
    width: 15px;
    height: auto;
}

.add-todo-btn {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 10px;
    background-color: #fff;
    transition: 0.4s ease;
    box-shadow: 0 0 25px 0 black;
}

.add-todo-btn:hover {
    box-shadow: 0 0 50px 0 rgba(255, 255, 255, 0.8);
}
.add-todo-btn:hover::before {
    opacity: 1;
}
.add-todo-btn::before {
    opacity: 0;
    position: absolute;
    content: "add Todo";
    width: max-content;
    padding: 4px 10px;
    font-size: 0.85rem;
    border-radius: 30px;
    color: white;
    left: 45px;
    transition: 0.35s ease;
}

.floating {
    z-index: 5;
    position: fixed;
    bottom: 70px;
}

.edit-todo-form,
.add-todo-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    border-radius: 30px;
    background-color: white;
    width: var(--todo-card-width);
    padding: 20px 80px;
    margin-bottom: 50px;
    animation: slide-in 0.4s ease forwards;
}

.edit-todo-form {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
    backdrop-filter: blur(5px);
}

.edit-todo-form {
    margin: 0;
}

.edit-todo-form-title,
.add-todo-form-title {
    place-self: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.edit-todo-form .inp,
.add-todo-form .inp {
    width: 250px;
    padding: 10px 20px;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: rgb(238, 237, 237);
}

.inp-cont {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.edit-todo-form-submit-btn,
.add-todo-form-submit-btn {
    padding: 10px 30px;
    color: white;
    font-weight: 600;
    border-radius: 30px;
    width: max-content;
    place-self: center;
    background-color: black;
    transition: 0.4s ease;
}

.edit-todo-form-submit-btn {
    background-color: rgb(109, 0, 252);
}
.edit-todo-form-submit-btn:hover {
    box-shadow: 0 0 45px 0 rgba(128, 93, 255, 0.808);
}
.edit-todo-form-close-btn,
.add-todo-form-close-btn {
    position: absolute;
    z-index: 90;
    top: 0;
    right: 0;
    margin: 10px 20px;
    width: 20px;
    height: 20px;
    font-size: 1rem;
    font-weight: 800;
    color: white;
    border: 1px solid red;
    background: red;
    border-radius: 50%;
}
.edit-todo-desc,
.add-todo-desc {
    resize: vertical;
}
